* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* page layout*/
.main-layout {
  display: flex;
}
.main-layout aside {
  width: 30%;
  border: 2px solid transparent;
}
.main-layout section {
  width: 70%;
  border: 2px solid transparent;
}
.nav-item {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.input-container {
  padding: 10px;
  width: 450px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(219, 219, 219);
}
.input-container input:focus {
  outline: none;
  border: none;
}
.input-container input {
  border: none;
  font-size: 18px;
  padding: 8px;
  width: 100%;
}

.ttt {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.shop-icon-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 64px;
}
.img-shop {
  position: relative;
}
.shop-count {
  background-color: black;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: 15px;
  top: -9px;
}
.user-img-container {
}
header {
  padding-top: 64px;
  position: relative;
  background-color: #7a44ff;
}

.food-dish {
  width: 96px;
  min-height: 98px;
  max-height: auto;
  border-radius: 12px;
  padding: 16px 12px;
  display: flex;
  font-size: 14px;
  font-family: "Poppins";
  align-items: center;
  flex-direction: column;
}
.dishs-container {
  display: flex;
  gap: 10px;
  top: 50%;
  left: 10%;
  width: 80%;
  position: absolute;
}
.bg-orange-light {
  background-color: #faf0e6;
}
.bg-orange {
  background-color: #ffe5b4;
}
.bg-yellow {
  background-color: #ffdab9;
}

/* food card style */
.food-card {
  width: 398px;
  height: auto;
  border: 1px solid rgb(239, 237, 237);
  border-radius: 10px;
}
.img-container {
  position: relative;
}

.heart-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: rgb(236, 231, 231);
  padding: 6px;
  border-radius: 5px;
}

.text-container {
  display: flex;
  gap: 10px;
  padding: 0 8px;
  flex-direction: row;
}
.restaurant-logo {
  width: 54px;
  height: 54px;
  z-index: 999;
  margin-top: -20px;
}

.food-img {
  border-radius: 10px 10px 0 0;
}
.rating-text {
  color: rgb(232, 200, 137);
}

.review-text {
  display: flex;
  gap: 4px;
}
.green-bg {
  background-color: #23c965;
}
.delivery-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  border-radius: 8px;
  padding: 4px 8px;
  height: max-content;
  font-family: "Poppins";
  place-self: end;
}
.card-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 8px;
}

.card-info-head {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 2px;
}
.card-info-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
/* food card style */
/* */

.custom-checkbox input[type="checkbox"] {
  display: none;
}
.custom-checkbox label {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid gray;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.custom-checkbox input[type="checkbox"]:checked + label {
  background-color: blueviolet;
}
.custom-checkbox input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

.custom-checkbox label::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 12px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  left: 6px;
  transform: rotate(45deg);
  opacity: 0;
  top: 2px;
}
.filter-item {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

/* */
@media only screen and (max-width: 1000px) {
  .page-container {
    padding: 0 3px;
  }

  nav {
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.page-container {
  padding: 0 175px;
}
